body {
  align-content: center;

}

.content {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aqua;
  text-shadow: 3px 3px 5px rgb(184, 16, 222);
  
}

.main {
  border: 2px solid black;
  display: inline-block;
  background-image: url(bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.91;

  ;
}

.photo {
  height: 100px;
  border: none;


}

.divi button {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 75px;
  background-color: rgb(21, 211, 49);
}

.divi button:hover{
  transform: scale(0.8);
}

h3 {
  font-family: Tahoma;
  color: rgb(173, 248, 214);
  text-shadow: 3px 3px 4px rgb(190, 30, 30);

}